In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = (SparkSession
         .builder
         .appName("Task1")
          .getOrCreate())

In [3]:
spark

In [4]:
df =spark.read.option("header",True).json("MOCK_DATA.json")

In [5]:
df.show()

+--------------------+-------------+-----------------+-------------+--------------------+---------------+---------------+---------------+-----------------------+------------+
|     _corrupt_record|billing_class|billing_code_type|billing_codee|         description|expiration_date|negotiated_rate|negotiated_type|negotiation_arrangement|service_code|
+--------------------+-------------+-----------------+-------------+--------------------+---------------+---------------+---------------+-----------------------+------------+
|[{"billing_class"...|         null|             null|         null|                null|           null|           null|           null|                   null|        null|
|                null|          NVA|             null|   54868-6381|Occup of pk-up/va...|     2023/10/27|          $1.89|             CO|             49288-0290|          ID|
|                null|          JEQ|             SNJK|    55315-329|Posterior subluxa...|     2023/03/22|          $6.07|             BR|              10544-105|          CN|
|                null|          SSO|             SNLO|    13537-015|Scarlet fever, un...|     2023/12/10|          $4.78|             BR|              53489-536|          CN|
|                null|          CKR|             null|    42508-138|Unsp injury of un...|     2023/04/19|          $4.35|             US|              59572-425|          CL|
|                null|          CXH|             CYHC|    52533-120|Other disorders o...|     2023/03/12|          $1.35|             CA|              41250-871|          ID|
|                null|          KTT|             EFKT|    36800-952|Cloacal extrophy ...|     2023/05/29|          $7.52|             FI|              59886-410|          CN|
|                null|         null|             null|    11344-999|Hypertrophy of bo...|     2023/04/05|          $2.94|             JP|              76509-151|          CN|
|                null|          DAL|             null|   36987-1207|Oth osteoporosis ...|     2023/03/07|          $4.07|           null|              11410-020|          FR|
|                null|          GDA|             null|    76138-106|Disp fx of head o...|     2023/12/29|          $9.05|             CF|              65954-538|          BF|
|                null|          AEX|             KAEX|    53329-809|Unsp fx upr end r...|     2023/04/15|          $3.61|             US|              50991-216|          JP|
|                null|         null|             SPHI|    0496-0760|Unspecified injur...|     2023/07/25|          $4.79|             PE|              49884-641|          PL|
|                null|          DUQ|             CAM3|    43063-345|Path fracture, un...|     2023/03/19|          $8.60|             CA|              21695-522|          UA|
|                null|          YVV|             CYVV|    0245-0213|Crushing injury o...|     2023/12/06|          $3.39|             CA|              30142-960|          RU|
|                null|          PCA|             PAOC|    52125-568|Intentional colli...|     2023/07/21|          $3.09|             US|             53808-0685|          CN|
|                null|          GRV|             null|   57913-2869|Nondisp oblique f...|     2023/04/30|          $1.83|             RU|             49288-0861|          CA|
|                null|         null|             MWCR|    64117-987|Osteomyelitis, un...|     2023/08/19|          $1.20|             KY|              52773-240|          FR|
|                null|          TJA|             SLTJ|   61958-0901|Nondisp fx of lat...|     2023/12/28|          $6.32|             BO|              49999-120|          CN|
|                null|          EML|             LSME|    11673-977|Staphylococcal ar...|     2023/03/16|          $5.68|             CH|             36987-1711|          ID|
|                null|          PLF|             FTTP|    0029-1527|Unspecified physe...|     2023/02/17|          $3.72|             TD|              51346-173|          MA|
+--------------------+-------------+-----------------+-------------+--------------------+---------------+---------------+---------------+-----------------------+------------+
only showing top 20 rows

In [6]:
dropped_df = df.drop("description","expiration_date")

In [7]:
dropped_df.show()

+--------------------+-------------+-----------------+-------------+---------------+---------------+-----------------------+------------+
|     _corrupt_record|billing_class|billing_code_type|billing_codee|negotiated_rate|negotiated_type|negotiation_arrangement|service_code|
+--------------------+-------------+-----------------+-------------+---------------+---------------+-----------------------+------------+
|[{"billing_class"...|         null|             null|         null|           null|           null|                   null|        null|
|                null|          NVA|             null|   54868-6381|          $1.89|             CO|             49288-0290|          ID|
|                null|          JEQ|             SNJK|    55315-329|          $6.07|             BR|              10544-105|          CN|
|                null|          SSO|             SNLO|    13537-015|          $4.78|             BR|              53489-536|          CN|
|                null|          CKR|             null|    42508-138|          $4.35|             US|              59572-425|          CL|
|                null|          CXH|             CYHC|    52533-120|          $1.35|             CA|              41250-871|          ID|
|                null|          KTT|             EFKT|    36800-952|          $7.52|             FI|              59886-410|          CN|
|                null|         null|             null|    11344-999|          $2.94|             JP|              76509-151|          CN|
|                null|          DAL|             null|   36987-1207|          $4.07|           null|              11410-020|          FR|
|                null|          GDA|             null|    76138-106|          $9.05|             CF|              65954-538|          BF|
|                null|          AEX|             KAEX|    53329-809|          $3.61|             US|              50991-216|          JP|
|                null|         null|             SPHI|    0496-0760|          $4.79|             PE|              49884-641|          PL|
|                null|          DUQ|             CAM3|    43063-345|          $8.60|             CA|              21695-522|          UA|
|                null|          YVV|             CYVV|    0245-0213|          $3.39|             CA|              30142-960|          RU|
|                null|          PCA|             PAOC|    52125-568|          $3.09|             US|             53808-0685|          CN|
|                null|          GRV|             null|   57913-2869|          $1.83|             RU|             49288-0861|          CA|
|                null|         null|             MWCR|    64117-987|          $1.20|             KY|              52773-240|          FR|
|                null|          TJA|             SLTJ|   61958-0901|          $6.32|             BO|              49999-120|          CN|
|                null|          EML|             LSME|    11673-977|          $5.68|             CH|             36987-1711|          ID|
|                null|          PLF|             FTTP|    0029-1527|          $3.72|             TD|              51346-173|          MA|
+--------------------+-------------+-----------------+-------------+---------------+---------------+-----------------------+------------+
only showing top 20 rows

## Removing hypen from bill

In [8]:
from pyspark.sql.functions import regexp_replace,col,expr,monotonically_increasing_id,hash,lit
hypenrem_df=dropped_df.withColumn("billing_codee",regexp_replace(col("billing_codee"),"-",""))\
                     .withColumn("negotiation_arrangement",regexp_replace(col("negotiation_arrangement"),"-",""))\
                      .withColumn('negotiated_rate', expr("replace(negotiated_rate,'$','')"))


# hyphenrem_df = dropped_df.withColumn("billing_codee", translate(col("billing_codee"), "-", ""))\
#                          .withColumn("negotiation_arrangement", translate(col("negotiation_arrangement"), "-", ""))\
#                          .withColumn("negotiated_rate", translate(col("negotiated_rate"), "$", ""))  # No escape needed

# hypenrem_df = dropped_df.withColumn('billing_codee', expr("replace(billing_codee,'-','')"))\
#         .withColumn('negotiation_arrangement', expr("replace(negotiation_arrangement,'-','')"))\
#         .withColumn('negotiated_rate', expr("replace(negotiated_rate,'$','')"))

In [9]:
hypenrem_df.show()

+--------------------+-------------+-----------------+-------------+---------------+---------------+-----------------------+------------+
|     _corrupt_record|billing_class|billing_code_type|billing_codee|negotiated_rate|negotiated_type|negotiation_arrangement|service_code|
+--------------------+-------------+-----------------+-------------+---------------+---------------+-----------------------+------------+
|[{"billing_class"...|         null|             null|         null|           null|           null|                   null|        null|
|                null|          NVA|             null|    548686381|           1.89|             CO|              492880290|          ID|
|                null|          JEQ|             SNJK|     55315329|           6.07|             BR|               10544105|          CN|
|                null|          SSO|             SNLO|     13537015|           4.78|             BR|               53489536|          CN|
|                null|          CKR|             null|     42508138|           4.35|             US|               59572425|          CL|
|                null|          CXH|             CYHC|     52533120|           1.35|             CA|               41250871|          ID|
|                null|          KTT|             EFKT|     36800952|           7.52|             FI|               59886410|          CN|
|                null|         null|             null|     11344999|           2.94|             JP|               76509151|          CN|
|                null|          DAL|             null|    369871207|           4.07|           null|               11410020|          FR|
|                null|          GDA|             null|     76138106|           9.05|             CF|               65954538|          BF|
|                null|          AEX|             KAEX|     53329809|           3.61|             US|               50991216|          JP|
|                null|         null|             SPHI|     04960760|           4.79|             PE|               49884641|          PL|
|                null|          DUQ|             CAM3|     43063345|           8.60|             CA|               21695522|          UA|
|                null|          YVV|             CYVV|     02450213|           3.39|             CA|               30142960|          RU|
|                null|          PCA|             PAOC|     52125568|           3.09|             US|              538080685|          CN|
|                null|          GRV|             null|    579132869|           1.83|             RU|              492880861|          CA|
|                null|         null|             MWCR|     64117987|           1.20|             KY|               52773240|          FR|
|                null|          TJA|             SLTJ|    619580901|           6.32|             BO|               49999120|          CN|
|                null|          EML|             LSME|     11673977|           5.68|             CH|              369871711|          ID|
|                null|          PLF|             FTTP|     00291527|           3.72|             TD|               51346173|          MA|
+--------------------+-------------+-----------------+-------------+---------------+---------------+-----------------------+------------+
only showing top 20 rows

In [10]:
hashing_df= hypenrem_df.withColumn("service_code",hash("service_code"))
hashing_df.show()

+--------------------+-------------+-----------------+-------------+---------------+---------------+-----------------------+------------+
|     _corrupt_record|billing_class|billing_code_type|billing_codee|negotiated_rate|negotiated_type|negotiation_arrangement|service_code|
+--------------------+-------------+-----------------+-------------+---------------+---------------+-----------------------+------------+
|[{"billing_class"...|         null|             null|         null|           null|           null|                   null|          42|
|                null|          NVA|             null|    548686381|           1.89|             CO|              492880290|  -214147340|
|                null|          JEQ|             SNJK|     55315329|           6.07|             BR|               10544105|   446854828|
|                null|          SSO|             SNLO|     13537015|           4.78|             BR|               53489536|   446854828|
|                null|          CKR|             null|     42508138|           4.35|             US|               59572425|   519803259|
|                null|          CXH|             CYHC|     52533120|           1.35|             CA|               41250871|  -214147340|
|                null|          KTT|             EFKT|     36800952|           7.52|             FI|               59886410|   446854828|
|                null|         null|             null|     11344999|           2.94|             JP|               76509151|   446854828|
|                null|          DAL|             null|    369871207|           4.07|           null|               11410020|  1062621904|
|                null|          GDA|             null|     76138106|           9.05|             CF|               65954538|  1817792724|
|                null|          AEX|             KAEX|     53329809|           3.61|             US|               50991216|   175481947|
|                null|         null|             SPHI|     04960760|           4.79|             PE|               49884641| -1524333386|
|                null|          DUQ|             CAM3|     43063345|           8.60|             CA|               21695522|     2450805|
|                null|          YVV|             CYVV|     02450213|           3.39|             CA|               30142960|  -172246165|
|                null|          PCA|             PAOC|     52125568|           3.09|             US|              538080685|   446854828|
|                null|          GRV|             null|    579132869|           1.83|             RU|              492880861|  1886535265|
|                null|         null|             MWCR|     64117987|           1.20|             KY|               52773240|  1062621904|
|                null|          TJA|             SLTJ|    619580901|           6.32|             BO|               49999120|   446854828|
|                null|          EML|             LSME|     11673977|           5.68|             CH|              369871711|  -214147340|
|                null|          PLF|             FTTP|     00291527|           3.72|             TD|               51346173|  1210295967|
+--------------------+-------------+-----------------+-------------+---------------+---------------+-----------------------+------------+
only showing top 20 rows

## Remove the row if 'billing_code' is null

In [11]:
rmvnull_df = hashing_df.dropna(subset=["billing_codee"])
rmvnull_df.show()

+---------------+-------------+-----------------+-------------+---------------+---------------+-----------------------+------------+
|_corrupt_record|billing_class|billing_code_type|billing_codee|negotiated_rate|negotiated_type|negotiation_arrangement|service_code|
+---------------+-------------+-----------------+-------------+---------------+---------------+-----------------------+------------+
|           null|          NVA|             null|    548686381|           1.89|             CO|              492880290|  -214147340|
|           null|          JEQ|             SNJK|     55315329|           6.07|             BR|               10544105|   446854828|
|           null|          SSO|             SNLO|     13537015|           4.78|             BR|               53489536|   446854828|
|           null|          CKR|             null|     42508138|           4.35|             US|               59572425|   519803259|
|           null|          CXH|             CYHC|     52533120|           1.35|             CA|               41250871|  -214147340|
|           null|          KTT|             EFKT|     36800952|           7.52|             FI|               59886410|   446854828|
|           null|         null|             null|     11344999|           2.94|             JP|               76509151|   446854828|
|           null|          DAL|             null|    369871207|           4.07|           null|               11410020|  1062621904|
|           null|          GDA|             null|     76138106|           9.05|             CF|               65954538|  1817792724|
|           null|          AEX|             KAEX|     53329809|           3.61|             US|               50991216|   175481947|
|           null|         null|             SPHI|     04960760|           4.79|             PE|               49884641| -1524333386|
|           null|          DUQ|             CAM3|     43063345|           8.60|             CA|               21695522|     2450805|
|           null|          YVV|             CYVV|     02450213|           3.39|             CA|               30142960|  -172246165|
|           null|          PCA|             PAOC|     52125568|           3.09|             US|              538080685|   446854828|
|           null|          GRV|             null|    579132869|           1.83|             RU|              492880861|  1886535265|
|           null|         null|             MWCR|     64117987|           1.20|             KY|               52773240|  1062621904|
|           null|          TJA|             SLTJ|    619580901|           6.32|             BO|               49999120|   446854828|
|           null|          EML|             LSME|     11673977|           5.68|             CH|              369871711|  -214147340|
|           null|          PLF|             FTTP|     00291527|           3.72|             TD|               51346173|  1210295967|
|           null|          ZCL|             MMZC|    400460057|           8.01|             MX|              538080830|  -172246165|
+---------------+-------------+-----------------+-------------+---------------+---------------+-----------------------+------------+
only showing top 20 rows

## Replace all the null values in billing_class to ‘I’

In [12]:
repna_df=rmvnull_df.fillna({"billing_class":'I'})
repna_df.show()

+---------------+-------------+-----------------+-------------+---------------+---------------+-----------------------+------------+
|_corrupt_record|billing_class|billing_code_type|billing_codee|negotiated_rate|negotiated_type|negotiation_arrangement|service_code|
+---------------+-------------+-----------------+-------------+---------------+---------------+-----------------------+------------+
|           null|          NVA|             null|    548686381|           1.89|             CO|              492880290|  -214147340|
|           null|          JEQ|             SNJK|     55315329|           6.07|             BR|               10544105|   446854828|
|           null|          SSO|             SNLO|     13537015|           4.78|             BR|               53489536|   446854828|
|           null|          CKR|             null|     42508138|           4.35|             US|               59572425|   519803259|
|           null|          CXH|             CYHC|     52533120|           1.35|             CA|               41250871|  -214147340|
|           null|          KTT|             EFKT|     36800952|           7.52|             FI|               59886410|   446854828|
|           null|            I|             null|     11344999|           2.94|             JP|               76509151|   446854828|
|           null|          DAL|             null|    369871207|           4.07|           null|               11410020|  1062621904|
|           null|          GDA|             null|     76138106|           9.05|             CF|               65954538|  1817792724|
|           null|          AEX|             KAEX|     53329809|           3.61|             US|               50991216|   175481947|
|           null|            I|             SPHI|     04960760|           4.79|             PE|               49884641| -1524333386|
|           null|          DUQ|             CAM3|     43063345|           8.60|             CA|               21695522|     2450805|
|           null|          YVV|             CYVV|     02450213|           3.39|             CA|               30142960|  -172246165|
|           null|          PCA|             PAOC|     52125568|           3.09|             US|              538080685|   446854828|
|           null|          GRV|             null|    579132869|           1.83|             RU|              492880861|  1886535265|
|           null|            I|             MWCR|     64117987|           1.20|             KY|               52773240|  1062621904|
|           null|          TJA|             SLTJ|    619580901|           6.32|             BO|               49999120|   446854828|
|           null|          EML|             LSME|     11673977|           5.68|             CH|              369871711|  -214147340|
|           null|          PLF|             FTTP|     00291527|           3.72|             TD|               51346173|  1210295967|
|           null|          ZCL|             MMZC|    400460057|           8.01|             MX|              538080830|  -172246165|
+---------------+-------------+-----------------+-------------+---------------+---------------+-----------------------+------------+
only showing top 20 rows

### Rename all the column as given. billing_class>>bCls  , billing_code>>bC, billing_code_type>> bCT , negotiated_rate>> negR, negotiated_type>> negT, negotiation_arrangements>> negA, service_code>> poSH

In [13]:
renamecol_df =  repna_df.withColumnRenamed('billing_class','bCls')\
                        .withColumnRenamed('billing_codee','bC')\
                        .withColumnRenamed('billing_code_type','bCT')\
                        .withColumnRenamed('negotiated_rate','negR')\
                        .withColumnRenamed('negotiated_type','negT')\
                        .withColumnRenamed('negotiation_arrangement','negA')\
                        .withColumnRenamed('service_code','poSH')

renamecol_df.show()

+---------------+----+----+---------+----+----+---------+-----------+
|_corrupt_record|bCls| bCT|       bC|negR|negT|     negA|       poSH|
+---------------+----+----+---------+----+----+---------+-----------+
|           null| NVA|null|548686381|1.89|  CO|492880290| -214147340|
|           null| JEQ|SNJK| 55315329|6.07|  BR| 10544105|  446854828|
|           null| SSO|SNLO| 13537015|4.78|  BR| 53489536|  446854828|
|           null| CKR|null| 42508138|4.35|  US| 59572425|  519803259|
|           null| CXH|CYHC| 52533120|1.35|  CA| 41250871| -214147340|
|           null| KTT|EFKT| 36800952|7.52|  FI| 59886410|  446854828|
|           null|   I|null| 11344999|2.94|  JP| 76509151|  446854828|
|           null| DAL|null|369871207|4.07|null| 11410020| 1062621904|
|           null| GDA|null| 76138106|9.05|  CF| 65954538| 1817792724|
|           null| AEX|KAEX| 53329809|3.61|  US| 50991216|  175481947|
|           null|   I|SPHI| 04960760|4.79|  PE| 49884641|-1524333386|
|           null| DUQ|CAM3| 43063345|8.60|  CA| 21695522|    2450805|
|           null| YVV|CYVV| 02450213|3.39|  CA| 30142960| -172246165|
|           null| PCA|PAOC| 52125568|3.09|  US|538080685|  446854828|
|           null| GRV|null|579132869|1.83|  RU|492880861| 1886535265|
|           null|   I|MWCR| 64117987|1.20|  KY| 52773240| 1062621904|
|           null| TJA|SLTJ|619580901|6.32|  BO| 49999120|  446854828|
|           null| EML|LSME| 11673977|5.68|  CH|369871711| -214147340|
|           null| PLF|FTTP| 00291527|3.72|  TD| 51346173| 1210295967|
|           null| ZCL|MMZC|400460057|8.01|  MX|538080830| -172246165|
+---------------+----+----+---------+----+----+---------+-----------+
only showing top 20 rows

### Add a whole new column named billing_code_modifier and rename it to 'mdH'

In [17]:
add_column = renamecol_df.withColumn("billing_code_modifier ",lit(1426636 ))
add_column.show()

+---------------+----+----+---------+----+----+---------+-----------+----------------------+
|_corrupt_record|bCls| bCT|       bC|negR|negT|     negA|       poSH|billing_code_modifier |
+---------------+----+----+---------+----+----+---------+-----------+----------------------+
|           null| NVA|null|548686381|1.89|  CO|492880290| -214147340|               1426636|
|           null| JEQ|SNJK| 55315329|6.07|  BR| 10544105|  446854828|               1426636|
|           null| SSO|SNLO| 13537015|4.78|  BR| 53489536|  446854828|               1426636|
|           null| CKR|null| 42508138|4.35|  US| 59572425|  519803259|               1426636|
|           null| CXH|CYHC| 52533120|1.35|  CA| 41250871| -214147340|               1426636|
|           null| KTT|EFKT| 36800952|7.52|  FI| 59886410|  446854828|               1426636|
|           null|   I|null| 11344999|2.94|  JP| 76509151|  446854828|               1426636|
|           null| DAL|null|369871207|4.07|null| 11410020| 1062621904|               1426636|
|           null| GDA|null| 76138106|9.05|  CF| 65954538| 1817792724|               1426636|
|           null| AEX|KAEX| 53329809|3.61|  US| 50991216|  175481947|               1426636|
|           null|   I|SPHI| 04960760|4.79|  PE| 49884641|-1524333386|               1426636|
|           null| DUQ|CAM3| 43063345|8.60|  CA| 21695522|    2450805|               1426636|
|           null| YVV|CYVV| 02450213|3.39|  CA| 30142960| -172246165|               1426636|
|           null| PCA|PAOC| 52125568|3.09|  US|538080685|  446854828|               1426636|
|           null| GRV|null|579132869|1.83|  RU|492880861| 1886535265|               1426636|
|           null|   I|MWCR| 64117987|1.20|  KY| 52773240| 1062621904|               1426636|
|           null| TJA|SLTJ|619580901|6.32|  BO| 49999120|  446854828|               1426636|
|           null| EML|LSME| 11673977|5.68|  CH|369871711| -214147340|               1426636|
|           null| PLF|FTTP| 00291527|3.72|  TD| 51346173| 1210295967|               1426636|
|           null| ZCL|MMZC|400460057|8.01|  MX|538080830| -172246165|               1426636|
+---------------+----+----+---------+----+----+---------+-----------+----------------------+
only showing top 20 rows

In [18]:
renamecol1_df=add_column.withColumnRenamed('billing_code_modifier ','mdH')
renamecol1_df.show()

+---------------+----+----+---------+----+----+---------+-----------+-------+
|_corrupt_record|bCls| bCT|       bC|negR|negT|     negA|       poSH|    mdH|
+---------------+----+----+---------+----+----+---------+-----------+-------+
|           null| NVA|null|548686381|1.89|  CO|492880290| -214147340|1426636|
|           null| JEQ|SNJK| 55315329|6.07|  BR| 10544105|  446854828|1426636|
|           null| SSO|SNLO| 13537015|4.78|  BR| 53489536|  446854828|1426636|
|           null| CKR|null| 42508138|4.35|  US| 59572425|  519803259|1426636|
|           null| CXH|CYHC| 52533120|1.35|  CA| 41250871| -214147340|1426636|
|           null| KTT|EFKT| 36800952|7.52|  FI| 59886410|  446854828|1426636|
|           null|   I|null| 11344999|2.94|  JP| 76509151|  446854828|1426636|
|           null| DAL|null|369871207|4.07|null| 11410020| 1062621904|1426636|
|           null| GDA|null| 76138106|9.05|  CF| 65954538| 1817792724|1426636|
|           null| AEX|KAEX| 53329809|3.61|  US| 50991216|  175481947|1426636|
|           null|   I|SPHI| 04960760|4.79|  PE| 49884641|-1524333386|1426636|
|           null| DUQ|CAM3| 43063345|8.60|  CA| 21695522|    2450805|1426636|
|           null| YVV|CYVV| 02450213|3.39|  CA| 30142960| -172246165|1426636|
|           null| PCA|PAOC| 52125568|3.09|  US|538080685|  446854828|1426636|
|           null| GRV|null|579132869|1.83|  RU|492880861| 1886535265|1426636|
|           null|   I|MWCR| 64117987|1.20|  KY| 52773240| 1062621904|1426636|
|           null| TJA|SLTJ|619580901|6.32|  BO| 49999120|  446854828|1426636|
|           null| EML|LSME| 11673977|5.68|  CH|369871711| -214147340|1426636|
|           null| PLF|FTTP| 00291527|3.72|  TD| 51346173| 1210295967|1426636|
|           null| ZCL|MMZC|400460057|8.01|  MX|538080830| -172246165|1426636|
+---------------+----+----+---------+----+----+---------+-----------+-------+
only showing top 20 rows

In [19]:
hashing1_df = renamecol1_df.withColumn('mdH',hash('mdH'))
hashing1_df.show()

+---------------+----+----+---------+----+----+---------+-----------+---------+
|_corrupt_record|bCls| bCT|       bC|negR|negT|     negA|       poSH|      mdH|
+---------------+----+----+---------+----+----+---------+-----------+---------+
|           null| NVA|null|548686381|1.89|  CO|492880290| -214147340|678617635|
|           null| JEQ|SNJK| 55315329|6.07|  BR| 10544105|  446854828|678617635|
|           null| SSO|SNLO| 13537015|4.78|  BR| 53489536|  446854828|678617635|
|           null| CKR|null| 42508138|4.35|  US| 59572425|  519803259|678617635|
|           null| CXH|CYHC| 52533120|1.35|  CA| 41250871| -214147340|678617635|
|           null| KTT|EFKT| 36800952|7.52|  FI| 59886410|  446854828|678617635|
|           null|   I|null| 11344999|2.94|  JP| 76509151|  446854828|678617635|
|           null| DAL|null|369871207|4.07|null| 11410020| 1062621904|678617635|
|           null| GDA|null| 76138106|9.05|  CF| 65954538| 1817792724|678617635|
|           null| AEX|KAEX| 53329809|3.61|  US| 50991216|  175481947|678617635|
|           null|   I|SPHI| 04960760|4.79|  PE| 49884641|-1524333386|678617635|
|           null| DUQ|CAM3| 43063345|8.60|  CA| 21695522|    2450805|678617635|
|           null| YVV|CYVV| 02450213|3.39|  CA| 30142960| -172246165|678617635|
|           null| PCA|PAOC| 52125568|3.09|  US|538080685|  446854828|678617635|
|           null| GRV|null|579132869|1.83|  RU|492880861| 1886535265|678617635|
|           null|   I|MWCR| 64117987|1.20|  KY| 52773240| 1062621904|678617635|
|           null| TJA|SLTJ|619580901|6.32|  BO| 49999120|  446854828|678617635|
|           null| EML|LSME| 11673977|5.68|  CH|369871711| -214147340|678617635|
|           null| PLF|FTTP| 00291527|3.72|  TD| 51346173| 1210295967|678617635|
|           null| ZCL|MMZC|400460057|8.01|  MX|538080830| -172246165|678617635|
+---------------+----+----+---------+----+----+---------+-----------+---------+
only showing top 20 rows